@tailwind base;
@tailwind components;
@tailwind utilities;

/* all variables */
@layer base {
    :root {
        /* button gradient */
        --btn-gradient-start: #CA1F68;
        --btn-gradient-end: #F9C04D;

        /* header-variables */
        --bg-gradient-start: #FCE7EE;
        --bg-gradient-mid: #FCE7EE;
        --bg-gradient-end: #FCF6E9;

        --border-header: #D4D4D4;
        --border-inactive: #CFCDCD;
        --border-active: #EE478F;


    }
}
